@font-face {
    font-family: 'Lexend_Deca';
    src: url('fonts/LexendDeca-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Big_Shoulders_Display';
    src: url('fonts/BigShouldersDisplay-SemiBold.ttf') format('truetype');
}
.attribution
{
    display: unset;
    position: absolute; bottom: 0;    
    color: black;   
    text-align: center;
}

body
{
    background-color: hsl(0, 0%, 95%);
    
    width: 100vw;
    height: 100vh;    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section
{
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    width: 70%;
    min-width: 640px;
    height: 65%;
    min-height: 500px;

    margin-top: 2%;
}

article
{
    height: 100%;
    text-align: left;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#article1{background-color: hsl(31, 77%, 52%);}
#article2{background-color: hsl(184, 100%, 22%);}
#article3{background-color: hsl(179, 100%, 13%);}

img
{
    align-self: flex-start;
    padding-left: 18.75%;
}
h1
{
    color: hsl(0, 0%, 95%);
    font-family: "Big_Shoulders_Display";

    font-size: 2.7em;
    text-transform: uppercase;
    font-weight: 400;

    width: 62.5%;
    margin-bottom: 5%;
}
p
{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend_Deca";

    font-size: 15px;
    line-height: 28px;

    width: 62.5%;
}

a
{
    background-color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsla(0, 0%, 100%, 0);
    border-radius: 25px;
    font-family: "Lexend_Deca";
    text-decoration: none;

    height: 9%;
    width: 50%;
    align-self: flex-start;
    margin-left: 18.75%;
    margin-top: 10%;
    margin-bottom: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#a1 {color:hsl(31, 77%, 52%);}
#a2{color:hsl(184, 100%, 22%);}
#a3{color: hsl(179, 100%, 13%);}


#a1:hover,#a2:hover,#a3:hover
{
    background:rgba(255, 255, 255, 0);
    color:hsl(0, 0%, 100%);
    border: 2px solid white;
}

@media all and (max-width: 650px)
{
    .attribution
    {
        position: relative;        
    }

    body
    {
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        margin:auto;
    }

    section
    {
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
        
        width: 90%;
        height: auto;

        min-width: 0px;
        min-height: 0px;
    
        margin-top: 20%;
        margin-bottom: 20%;
    }
    img
    {
        margin-top: 15%;
        padding-left: 15%;
    }
    a
    {
        height: 50px;
        width: 50%;

        margin-left: 15%;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    h1
    {
        width: 70%;
        margin-bottom: 5%;
    }
    p
    {
        width: 70%;
    }
}